* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: green;
    text-align: center;
    padding: 10rem;
}

h1 {
    margin-bottom: 5rem;
    font-size: 4em;
}

.choice{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

button {
    padding: 2rem;
    font-size: 2.5em;
    border-radius: 50%;
}

.result{
    font-size: 4em;
    color: yellowgreen;
}